@media (min-width: 1200px) {
    #footer {
       position:absolute;
        bottom:0;
        width:100%;
        max-height: 200px;
        overflow:hidden;
        margin-top: 100px;
     }
    }

 .danger {
     color:red;
 }