.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  #acceptedFiles {
      font-weight: bold;
  }

  #RJWMoveNum {
    width: 20%;
    min-width: 200px;
  }
  #RJWLoadNum {
    width: 20%;
    min-width: 200px;
  }
  #docType {
    width: 20%;
    min-width: 200px;
    margin-bottom: 6px;
  }
  #linehaul {
    width: 20%;
    min-width: 200px;
    margin: 6px 0px;
  }
  #type {
    width: 20%;
    min-width: 200px;
    margin-bottom: 6px;
    margin-right: 0;
    display: inline-block;
  }
  #accessorial {
    width: 20%;
    min-width: 200px;
    margin-bottom: 6px;
    margin-right: 0;
    display: inline-block;
  }
  .alert, .alert-danger {
    width: 20%;
  }
  #moveNum {
    margin-bottom: 4px;
  }
  .btn-success {
    background-color: #099;
    color: white;
  }
  #orderWarning {
    color: red;
  }
  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .inputfile + label {
    color: #099;
    border: 2px solid currentColor;
    border-radius: 15px 50px 30px;
  }
  .inputfile + label {
    width: 20%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    text-align: center;
  }
  .inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}
#upload {
  min-width: 200px;
}
#typeGrp {
  margin-right: 0px;
}
input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}