@media (min-width: 1200px) {
#footer {
   position:absolute;
    bottom:0;
    width:100%;
    max-height: 200px;
    overflow:hidden;
    margin-top: 100px;
 }
}
 .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  
 .danger {
  color:red;
}