#btnLogin {
    width: 100%;
}
#btnTrack {
  margin-top: 15px;
  width:100%
}
#trackLink {
  color: white;
  text-decoration: none;
  display: block;
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    max-height: 200px;
  }
  #wrapper {
    height: 400px;
    position: relative;
  }
 #mainHeader {
  text-align: center;
  font-size: 1.5em;
  margin-top: 60px;
  margin-bottom: 30px;
}

li {
  font-size: 1.5em;
}

li h1 {
  font-size: 1em;
  margin-left: 1em;
}
ol p {
  font-size: 1.5em;
}
.small {
  font-size: 1em;
}
.app-modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}
#modal1 {
  width: 500px;
}

@media ( max-width: 620px ){
  #footer{
    visibility: hidden
  }
}
#loader {
  display: block;
  margin: 0 auto;
}
#pwDiv {
  text-align: center;
}
#forgotPw {
  display: inline-block;
  margin: 0 auto;
}