#btnLogin {
    width: 100%;
}
<<<<<<< HEAD
@media (min-width: 1200px) {
  #footer {
     position:absolute;
      bottom:0;
      width:100%;
      max-height: 200px;
      overflow:hidden;
      margin-top: 100px;
   }
=======
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    max-height: 200px;
>>>>>>> CarrierPortalEdits
  }
 #mainHeader {
  text-align: center;
  font-size: 1.5em;
  margin-top: 60px;
  margin-bottom: 30px;
}

li {
  font-size: 1.5em;
}

li h1 {
  font-size: 1em;
  margin-left: 1em;
}
ol p {
  font-size: 1.5em;
}
.small {
  font-size: 1em;
}
.app-modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}
#modal1 {
  width: 500px;
}