<h4>Add User</h4>
<hr>
<form #fileForm = "ngForm" id= "fileForm">
  <div class = 'form-group'>
    <label class='col-lg-2 control-label' for="userName">User Name:</label>
    <div class = 'col-lg-10'>
      <input type = 'text' class = 'form-control' [(ngModel)] = "model.userName"  name="userName" id = "userName" required autofocus empty-to-null >
  </div>
  </div>
  <div class = 'form-group'>  
    <label class='col-lg-2 control-label' for="firstName">First Name:</label>
    <div class = 'col-lg-10'>
      <input  type = 'text' class = 'form-control' [(ngModel)] = "model.firstName"  name="firstName" id = "firstName"  empty-to-null>
    </div>
  </div>
  <div class = 'form-group'>  
    <label class='col-lg-2 control-label' for="lastName">Last Name:</label>
    <div class = 'col-lg-10'>
      <input  type = 'text' class = 'form-control' [(ngModel)] = "model.lastName"  name="lastName" id = "lastName"  empty-to-null>
    </div>
  </div>
  <div class = 'form-group'>
    <label class='col-lg-2 control-label' for="email">Email:</label>
    <div class = 'col-lg-10'>
      <input  type = 'email' class = 'form-control' [(ngModel)] = "model.email"  name="email" id = "email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required  empty-to-null>
    </div>
  </div>
  <div class = 'form-group'>  
    <label class='col-lg-2 control-label' for="contactAddress">Contact Address:</label>
    <div class = 'col-lg-10'>
      <input  type = 'text' class = 'form-control' [(ngModel)] = "model.contactAddress"  name="contactAddress" id = "contactAddress" >
    </div>
  </div>
  <div class = 'form-group'>  
    <label class='col-lg-2 control-label' for="phoneNumber">Phone Number:</label>
    <div class = 'col-lg-10'>
      <input  type = 'text' class = 'form-control' [(ngModel)] = "model.phoneNumber"  name="phoneNumber" id = "phoneNumber"   empty-to-null>
    </div>
  </div>
  <div class='col-lg-offset-2 col-lg-10'>
          <input  type='checkbox' i-check [(ngModel)] = "model.isAdmin"  name="isAdmin" id = "isAdmin">
          <label class='control-label' for="isAdmin">Site Administrator</label>
  </div>
  <h4>Carriers</h4>
  <hr>
  <div class="form-group">
    <ng-select [items]="carriers"
                    #select
                    bindLabel="name"
                    dropdownPosition="auto"
                    placeholder="Select Carrier"
                    [virtualScroll]="true"
                    id = 'Carrier'
                    [(ngModel)] = "_selected" 
                    [ngModelOptions]="{standalone: true}"
                    (input) = "typeahead($event)"
                    name = "Carrier"
                    #RJWLoadNum = "ngModel"
                    required>
            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
            {{item.name}}
            </ng-template>
    </ng-select>
  </div>
  <span><button class = 'btn btn-primary' (click) = 'add(_selected)'>Add</button></span>
  <table class = 'table table-striper'>
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
      <tr *ngFor="let car of selectedCarriers">
        <td> {{car.name}} </td>
        <td><button class = 'btn btn-primary' (click) = 'remove(car)'>Remove</button></td>
      </tr>
  </table>
  <div class="text-right">
      <button (click) = 'save()' class="btn btn-primary" [disabled] = "!fileForm.form.valid">Save</button>
      <button class="btn btn-default" [routerLink] ="['/dashboard/admin']">Cancel</button> 
  </div>


</form>