input {
    width: 70%;
}

#isAdmin {
    width: auto;
    position: left;
}
#isFactor {
    width: auto;
    position: left;
}
.text-right {
    position: absolute;
    right: 26%;
}
#Carrier {
    width: 70%;
}

table {
    width: 70%;
}
/* #fileForm {
    text-align: right;
} */
label {
    width: 15%;
}
/* #carTable {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height:200px;
} */
table.table-striper {
    display: table;
    width: 100%;
}
table.table-striper thead, table.table-striper tbody {
    float: left;
    width: 100%;
}
table.table-striper tbody {
    overflow: auto;
    height: 150px;
}
table.table-striper tr {
    width: 100%;
    display: table;
    text-align: left;
}
table.table-striper th, table.table-striper td {
    width: 33%;
}
@media (max-width: 1200px) 
{
    #fileForm{
    position: relative;
    overflow-y: auto;
    max-height:400px;
  }
}
@media (max-width: 767px) 
{
    #fileForm{
    position: relative;
    overflow-y: auto;
    max-height:400px;
  }
}