<h4>Users</h4>
<hr>
<button class = 'btn btn-primary' (click) = 'addUser()'>Add</button>
<button class = 'btn btn-primary' (click) = 'sendResetEmail()' [disabled] = '!rowSelected'>Send Reset Email</button>
<button class = 'btn btn-primary' (click) = 'editUser()' routerLinkActive = "{exact:true}" [disabled] = '!rowSelected'>Edit</button>
<ag-grid-angular style="width: 90%; height: 40em;"
        class="ag-theme-balham"
        (gridReady)="onGridReady($event)"
        [columnDefs]="columnDefs"
        [pagination] = "true"
        [rowSelection]="rowSelection"
        (selectionChanged)="onSelectionChanged()"
        [enableSorting] = "true"
        [enableFilter] = "true"
        [toolPanelSuppressSideButtons]="true">
</ag-grid-angular>