input {
    width: 70%;
}

#isActive {
    width: auto;
}
#termsAndConditions {
    width: auto;
}
#isAdmin {
    width: auto;
}

.text-right {
	text-align: right!important
}
#Carrier {
    width: 70%;
    left: 5%;
}
table {
    width: 70%;
    left: 15%;
}
.text-right {
    position: absolute;
    right: 26%;
}
.form-horizontal {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    max-height:800px;
}
table.table-striper {
    display: table;
    width: 100%;
}
table.table-striper thead, table.table-striper tbody {
    float: left;
    width: 100%;
}
table.table-striper tbody {
    overflow: auto;
    height: 150px;
}
table.table-striper tr {
    width: 100%;
    display: table;
    text-align: left;
}
table.table-striper th, table.table-striper td {
    width: 33%;
}
@media (max-width: 1200px) 
{
  .form-horizontal{
    position: relative;
    overflow-y: auto;
    max-height:400px;
  }
}
@media (max-width: 767px) 
{
  .form-horizontal{
    position: relative;
    overflow-y: auto;
    max-height:400px;
  }
}