/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
/* @import '~ag-grid/src/styles/ag-theme-balham.scss'; */
/* #loader {
    position: absolute;
    top: 50%;
    left: 50%;
}
 
#top {
    margin-top:-50px;
    margin-left:-50px;
}
#bottom {
    margin-top: 100px;
    margin-left: 100px;
} */

.loader {
    width: 100%;
    height: 500px; /* Modify this to fit your needs */
    display: table;
}

.loader .centered {
    display: table-cell;
    vertical-align: middle;
}

.loader .centered img {
    margin: 40px auto;
    display: block;
}